<div id="wrapper">
	<div id="main">
		<div class="inner">
			<section id="home-welcome">
				<div class="welcome-container">
					<header>
						<h2 class="main-title">Добро пожаловать на LMS-платформу!</h2> 
					</header>
					<p class="instruction-text">Для начала работы с системой выберите необходимый пункт из главного меню</p>
				</div>
			</section>
		</div>
	</div>
	@await Html.PartialAsync("_SidebarPartial")
</div>