@model LMS_Quadra.Domain.Entities.Question

@{
    ViewData["Title"] = "Добавление нового вопроса";
}

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section>
                <header class="major">
                    <h2>Добавление нового вопроса</h2>
                </header>

                <form asp-action="Create" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="CourseId" />

                    <div class="create_form_element">
                        <label asp-for="Wording">Текст вопроса</label>
                        <input asp-for="Wording"></input>
                        <span asp-validation-for="Wording" class="text-danger"></span>
                    </div>

                    <div class="create_form_buttons">
                        <button type="submit" class="submit_button"><i class="fas fa-save"></i> Создать</button>
                        <a asp-controller="Question"
                           asp-action="Index"
                           asp-route-courseId="@Model.CourseId">
                            <i class="fas fa-arrow-left"></i> Вернуться к списку вопросов
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </div>
    @await Html.PartialAsync("_SidebarPartial")
</div>